**/__pycache__/
**/.DS_Store
mmms_analysis/*_EOS/eos_population_mixtures/*
**/.idea
/data/**
mmms_analysis/*EOS_*/eos_population_mixtures/*.csv.gzmmms_analysis/*EOS_*/eos_population_mixtures/*.csv.gz
mmms_analysis/grid_gamma_low_EOS_PDB/eos_population_mixtures/LEC-2020_population2.1.csv.gz
mmms_analysis/grid_gamma_low_EOS_PDB/eos_population_mixtures/LEC-2020_population2.2.csv.gz
mmms_analysis/grid_gamma_low_EOS_PDB/eos_population_mixtures/LEC-2020_population2.4.csv.gz
mmms_analysis/grid_gamma_low_EOS_PDB/eos_population_mixtures/LEC-2020_population2.6.csv.gz
mmms_analysis/grid_gamma_low_EOS_PDB/eos_population_mixtures/LEC-2020_population2.8.csv.gz
mmms_analysis/grid_gamma_low_EOS_PDB/eos_population_mixtures/LEC-2020_population3.0.csv.gz
mmms_analysis/grid_gamma_low_EOS_PDB/eos_population_mixtures/LEC-2020_population3.2.csv.gz
mmms_analysis/grid_gamma_low_EOS_PDB/eos_population_mixtures/LEC-2020_population3.4.csv.gz
mmms_analysis/grid_gamma_low_EOS_PDB/eos_population_mixtures/LEC-2020_population3.6.csv.gz
mmms_analysis/grid_gamma_low_EOS_PDB/eos_population_mixtures/LEC-2020_population3.8.csv.gz
mmms_analysis/grid_gamma_low_EOS_PDB/eos_population_mixtures/LEC-2020_population4.0.csv.gz
mmms_analysis/grid_gamma_low_EOS_PDB_multiPDB/eos_population_mixtures/LEC-2020_population1.6.csv.gz
mmms_analysis/grid_gamma_low_EOS_PDB_multiPDB/eos_population_mixtures/LEC-2020_population1.8.csv.gz
mmms_analysis/grid_gamma_low_EOS_PDB_multiPDB/eos_population_mixtures/LEC-2020_population2.0.csv.gz
mmms_analysis/grid_gamma_low_EOS_PDB_multiPDB/eos_population_mixtures/LEC-2020_population2.2.csv.gz
mmms_analysis/grid_gamma_low_EOS_PDB_multiPDB/eos_population_mixtures/LEC-2020_population2.4.csv.gz
mmms_analysis/grid_gamma_low_EOS_PDB_multiPDB/eos_population_mixtures/LEC-2020_population2.6.csv.gz
mmms_analysis/grid_gamma_low_EOS_PDB_multiPDB/eos_population_mixtures/LEC-2020_population2.8.csv.gz
mmms_analysis/grid_gamma_low_EOS_PDB_multiPDB/eos_population_mixtures/LEC-2020_population3.0.csv.gz
mmms_analysis/grid_gamma_low_EOS_PDB_multiPDB/eos_population_mixtures/LEC-2020_population3.2.csv.gz
mmms_analysis/grid_gamma_low_EOS_PDB_multiPDB/eos_population_mixtures/LEC-2020_population3.4.csv.gz
mmms_analysis/grid_gamma_low_EOS_PDB_multiPDB/eos_population_mixtures/LEC-2020_population3.6.csv.gz
mmms_analysis/grid_gamma_low_EOS_PDB_multiPDB/eos_population_mixtures/LEC-2020_population3.8.csv.gz
mmms_analysis/grid_gamma_low_EOS_PDB_multiPDB/eos_population_mixtures/LEC-2020_population4.0.csv.gz
mmms_analysis/reproduce_gw230529_paper/eos_population_mixtures/LEC-2020_Updated-LVK-O3-sans-230529-PDB.csv.gz
mmms_analysis/reproduce_gw230529_paper/eos_population_mixtures/LEC-2020_Updated-LVK-O3-sans-230529-PDB-forced.csv.gz
mmms_analysis/reproduce_gw230529_paper/reed_LVK-O3b-PDB-forced.csv.gz
mmms_analysis/reproduce_gw230529_paper/reed_LVK-O3b-PDB-forced.csv.gz
mmms_analysis/reproduce_gw230529_paper_full/Farah2022-g-PDB.csv.gz
mmms_analysis/reproduce_gw230529_paper_full/eos_population_mixtures/LEC-2020_Updated-LVK-O3-sans-230529-PDB.csv.gz
mmms_analysis/reproduce_gw230529_paper_full/reed_Farah2022-g-PDB.csv.gz
mmms_analysis/reproduce_gw230529_paper_full/reed_LVK-O3b-PDB-forced.csv.gz
mmms_analysis/reproduce_gw230529_paper_full/**/.csv.gz
mmms_analysis/reproduce_gw230529_paper_full/Updated-LVK-O3-sans-230529-PDB-forced.csv.gz
mmms_analysis/reproduce_gw230529_paper_full/Updated-LVK-O3-sans-230529-PDB.csv.gz
mmms_analysis/reproduce_gw230529_paper_full/Farah2022-g-PDB.csv.gz
mmms_analysis/reproduce_gw230529_paper_full/eos_population_mixtures/LEC-2020_Updated-LVK-O3-sans-230529-PDB.csv.gz
mmms_analysis/reproduce_gw230529_paper_full/reed_Farah2022-g-PDB.csv.gz
mmms_analysis/reproduce_gw230529_paper_full/reed_LVK-O3b-PDB-forced.csv.gz
mmms_analysis/reproduce_gw230529_paper_full/**/.csv.gz
mmms_analysis/reproduce_gw230529_paper_full/Updated-LVK-O3-sans-230529-PDB-forced.csv.gz
mmms_analysis/reproduce_gw230529_paper_full/Updated-LVK-O3-sans-230529-PDB.csv.gz
mmms_analysis/reproduce_gw230529_paper_full/eos_population_mixtures/LEC-2020_Updated-LVK-O3-sans-230529-PDB-forced.csv.gz
mmms_analysis/reproduce_gw230529_paper_full/Farah2022-g-PDB.json
mmms_analysis/reproduce_gw230529_paper_full/Updated-LVK-O3-sans-230529-PDB.json
